/*@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-xgy80z');
	src:url('fuentes/icomoon.eot?#iefix-xgy80z') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-xgy80z') format('woff'),
		url('fuentes/icomoon.ttf?-xgy80z') format('truetype'),
		url('fuentes/icomoon.svg?-xgy80z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-estrella:before {
	content: "\e600";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
}

.icon-lapiz:before {
	content: "\e908";
	margin-right: 0.8em;
}

.icon-f-arriba:before {
	content: "\ea41";
}

.icon-f-abajo:before {
	content: "\ea43";
	color: #DD4F24;
}
a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	text-align: center;
	color: rgba(255,255,255, 0.7);
	padding: 1.5em
}
/* first-chil sirve para decirle que a la primera etiqueta
se le de ciertos atributos aunque existan mas etiquetas 
parecidas dentro del atributo maestro*/
footer p:first-child
{
	margin-bottom: 0;
}
/* Funciona igual que el first pero este toma el ultimo*/
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: "- "
}
footer p:last-child:before
{
	content: " -"
}
header
{
	background: #343B54;
	color: #FFFFFF;
	/* padding es el margen interno de una caja */
	padding: 0.5em;
	/*overflow dice que cuando algo este fuera del cuadro
	que lo esconda con hidden*/
	/*Si no quiero que las cosas se salgan de su contenedor 
	uso el overflow:hidden;*/
	overflow: hidden;
	position: relative;
}
header figure
{
	float: left;
}
header h1 
{
	font-size: 1.2em;
	/* font-weight: normal; sirve para quitar la negrita que el
	titulo trae por defecto */
	font-weight: normal;
	margin: 0.2em 70px 0 0;
}
header #logo
{
	border-right: 1px solid #FFF;
	margin-right: 0.5em;
	padding-right: 0.5em;
}
header #logo img
{
	width: 52px;
	/*Transition da una transición de los segundos que pdemos
	darle*/
	-webkit-transition: 1s;
}
header #logo img:hover{
	/*-webkit- es el agente que usa chrome y opera cuando una
	propiedad es rara, Firefox usa -moz-, IE usa -ms-*/
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
}
header #avatar img
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	border-radius: 50%;
	width: 55px;
	top: 0;
	right: 0;
}
nav 
{
	background: #7488CD; /*#80BCA3*/
	margin: 0;
	padding: 0 6em 0 0;
	position: relative;
}
nav ul #publicar_nav
{
	position: absolute;
	top: -0.3em;
	right: 0;
}
nav ul #publicar_nav a 
{
	border-radius: 5px;
	background: #22BCE0;
	font-style: italic;
	/* arriba abajo*/
	padding: 0.8em 0.5em 0.8em 2.5em;
	/* text-decoration le quita la decoracion a un texto*/
	text-decoration: none;
	/* rgba(color,color,color,transpareancia) izquierda arriba  intensidad dela sombra*/
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	/*box-shadow es igual que text-shadow pero este sirve para la caja*/
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}
nav ul #publicar_nav a:before
{
	position: absolute;
	left: .2em;
	top: .7em;
	-webkit-transition: .3s;
}
nav ul #publicar_nav a:hover:before{
	/*transform:scale(1); hace mas grande las cosas*/
	font-size: 20px;
	-webkit-transition: .3s;
}
nav ul li a:hover
{
	background: #343B54;
}
nav ul 
{
	/* list-style: con eso le decimos cual es
	el estilo de la lista, y con none; le decimos 
	que no tendra estilos*/
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li 
{
	/*Con display inline-block podemos hacer que las 
	cajas se alinien*/
	display: inline-block;
	/* arriba derecha abajo izquierda*/
	margin: 0 1em 0 0;
}
nav ul li a 
{
	color: #fff;
	display: block;
	padding: 0.5em 0;
	-webkit-transition: .2s;
}
aside{
	display: none;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: #fff;
	border-bottom: 3px solid #22BCE0;
	min-height: 128px;
	position: relative;
	margin-bottom: 3em;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
	padding: 
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .autor_item
{
	color: #AAA;
}
#contenido .item .datos_item
{
	text-align: right;
	margin: 0.3em 1em 0 0;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 0.5em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.5em;
	float: left;
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}

#contenido .item .votacion 
{
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	background: #fff;
	top: 100%;
	width: 90%;
	left: 5%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
}
#contenido .item .votacion .down
{
	text-decoration: none;
}
#contenido .item .votacion a
{
	text-decoration: none;
}
/*Cuando dos clases se separan con , tienen el
mismo valor*/
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
 float: right;
}
/* @media print{

} 
 Este media sirve para cuando mandamos a que algo se
 imprima, tomara eso valores por defecto.
*/
@media screen and (min-width: 800px){
	#contenido{
		overflow: hidden;
	}
	#contenido .item{
		width: 49%;
		/*display: inline-block;*/
		float: left;
	}
	/* nth-child(odd) sirve para seleccionar los elementos impares*/
	/* even funciona para los elementos pares */
	#contenido .item:nth-child(odd){
		margin-right: 2%;
	}
}
@media screen and (min-width: 800px){
	aside{
		display: block;
		float: right;
		margin: 1em;
		width: 20%;
	}
	aside video{
		width: 100%;
	}
}